<form action="{% url 'vocab:search' %}" method="post">
    {% csrf_token %}
        <label for="searchword">Search : </label>
        <input type="text" name="searchword">
        <input type="submit" value="Search">
</form>
<a href="{% url 'vocab:addPage' %}">เพิ่มคำศัพท์</a>
{% if vocabList %}
    <ul>
    {% for vocab in vocabList %}
        <li><a href="/vocab/{{ vocab.id }}/">{{ vocab.vocab_text }}</a></li><!--แสดงคำศัพท์-->
    {% endfor %}
    </ul>
{% else %}<!--ถ้าหากไม่มีคำศัพท์-->
    <h2>ไม่มีคำศัพท์</h2>
{% endif %}